<!-- Footer having information related to website  -->
<div>
    <div class="footerStyle" id="footerBorder">
        <div></div>
        <div class="h-divider"></div>
        <div class="cpStyle">Copyright&copy; 2022. All Rights Reserved</div>
    </div>
</div>