<!-- Header including website logo and other images for design -->
<div class="headerStyle" id="headerBorder">
    <div><h1><strong><em>My Book Store</em></strong></h1></div>
    <div id="headerSpace"></div>
    <a href="cart.html?data=null" id="cartLink"></a>
    <!-- <img src="images/wishlist.png" id="circle">
    <img src="images/user1.jpg" id="circle"> -->
</div>