<!--Assignment #2 
    Name : Aishwarya Dalal
    Student Number : 8843829 -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compitable" content="IE=edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Aishwarya Dalal</title>
        <link rel="stylesheet" type="text/css" href="/css/catalog.css">
        <script type="text/javascript" src="/js/catalog.js" defer></script>
    </head>
    <body>
        <div>
    
            <!-- Header including website logo and other images for design -->
            <%- include('layouts/header'); -%>

            <%- include('layouts/nav'); -%>
    
            <!-- Display all the available products -->
            <center><p class="headingText">BOOK DELETED SUCCESSFULLY</p></center>
            <section>
                <div class="formData">
                    <p> <%= message %> </p>
                </div>
            </section>
    
            <!-- Footer having information related to website  -->
            <%- include('layouts/footer'); -%>
        </div>
    </body>
    <!-- Student ID : Adalal3829@conestogac.on.ca -->
    </html>